* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex; 
    height: 100vh; 
}

/* Left side styles */
.left-side {
    background-color: white; 
    width: 70%; 
    padding: 2em; 
}

/* Right side styles */
.right-side {
    background-color: #f5f5dc; 
    width: 30%; 
}

/* Navigation Bar Styles */
nav {
    background-color: white;
    color: black;
    padding: 1em;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

nav h1 {
    margin: 0;
}

/* Navigation links styles */
nav ul {
    list-style-type: none;
    display: flex;
    gap: 5em;
    margin: 0;
    position: absolute; 
    left: 505px; 
    top:80px
}

nav a {
    color: black; 
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1em; 
}

nav a:hover {
    text-decoration: underline; 
}

.aboutus {
    font-size: 3.5em;
    font-weight: bold;
    color: #333;
    margin: 1em 0;
    text-align: center;
    position: absolute;
    top: 160px;
    left: 90px;
}
.story1 {
    font-size: 1.5em;
    color: #333;
    margin: 1em 0;
    text-align: left;
    position: absolute;
    top: 400px;
    left: 95px;
    max-width: 1000px;
    line-height: 1.5;
}

/* Image Container Styles */
.sixth-image {
    width: 150px; 
    height:135px; 
    object-fit: cover; 
    position: absolute; 
    left: 50px; 
    top: 25px;
}
.ninth-image {
    width: 560px; 
    height: 560px; 
    object-fit: cover; 
    position: absolute; 
    left: 1230px; 
    top: 150px;
}